!
!     ██╗  ██╗ ██████╗  ███████╗ ███████╗  ██████╗  ██╗   ██╗ ██████╗   ██████╗ ███████╗ ███████╗ 
!     ╚██╗██╔╝ ██╔══██╗ ██╔════╝ ██╔════╝ ██╔═══██╗ ██║   ██║ ██╔══██╗ ██╔════╝ ██╔════╝ ██╔════╝ 
!      ╚███╔╝  ██████╔╝ █████╗   ███████╗ ██║   ██║ ██║   ██║ ██████╔╝ ██║      █████╗   ███████╗ 
!      ██╔██╗  ██╔══██╗ ██╔══╝   ╚════██║ ██║   ██║ ██║   ██║ ██╔══██╗ ██║      ██╔══╝   ╚════██║ 
! ██╗ ██╔╝ ██╗ ██║  ██║ ███████╗ ███████║ ╚██████╔╝ ╚██████╔╝ ██║  ██║ ╚██████╗ ███████╗ ███████║ 
! ╚═╝ ╚═╝  ╚═╝ ╚═╝  ╚═╝ ╚══════╝ ╚══════╝  ╚═════╝   ╚═════╝  ╚═╝  ╚═╝  ╚═════╝ ╚══════╝ ╚══════╝ 
!
! JulesKLord (github/spjulius)(JulioGlez.93@gmail.com)
!
URxvt*perl-ext-common:		osc-xterm-clipboard,default,matcher
URxvt*url-launcher:         /usr/bin/xdg-open
URxvt*matcher.button:       1

! general settings
URxvt*saveline:         15000
URxvt*termName:         rxvt-256color
URxvt*iso14755:         false
! for this icon to load in panels and plank you need to follow the steps described here
! http://archlabs.prophpbb.com/post1220.html
URxvt*iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:            32
!URxvt*background:      rgba:0000/0000/0000/AAAA
!URxvt*background:      #404552
URxvt*background:       #121212
URxvt*foreground:       #BEBEBE
URxvt.underlineColor:   #4682B4
URxvt.highlightColor:   #4682B4
URxvt.throughColor:     Blue
URxvt*cursorColor:      #c5c8c6
URxvt*cursorColor2:     Black
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*internalBorder:   17
URxvt*externalBorder:   0
URxvt.colorIT:      	#87af5f
URxvt.colorBD:      	#c5c8c6
URxvt.colorUL:      	#87afd7

xterm*dynamicColors: true
urxvt*dynamicColors: on

!black
*color0:     #393939
*color8:     #AF875F
!red
*color1:     #BF1E2D
*color9:     #E7212A
!green
*color2:     #9DBA3A
*color10:    #A9C938
!yellow
*color3:     #F5B915
*color11:    #F7D325
!blue
*color4:     #1CA1DB
*color12:    #00AFDA
!magenta
*color5:     #652F90
*color13:    #894E9F
!cyan
*color6:     #EA7D24
*color14:    #F79321
!white
*color7:     #E7E8E9
*color15:    #F3F3F4
! fonts
!URxvt*letterSpace: 	    	-1
!Xft.size:						8.1
URxvt*font:                 	xft:montecarlo:regular:size=8.1
URxvt*imFont:               	xft:montecarlo:regular:size=8.1
URxvt*boldFont:             	xft:montecarlo:regular:size=8.1
URxvt*italicFont:           	xft:montecarlo:regular:size=8.1
URxvt*boldItalicFont:     		xft:montecarlo:regular:size=8.1
! run :.!fc-list | grep <font-name>

URxvt.perl-ext-common:  default,matcher,clipboard
URxvt.matcher.button:   1

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.m-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt.geometry: 		90x30

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt*buffered:         false

! ------------------------------------------------------------------------------
! ROFI setup
! ------------------------------------------------------------------------------

rofi.separator-style:   solid
rofi.font:              montecarlo 8
rofi.color-enabled:     true
rofi.padding:           50
rofi.line-margin:       5
rofi.lines:             10
rofi.width:             720
rofi.disable-history:   true
rofi.modi:              keys,drun,window,run
rofi.sidebar-mode:      true
rofi.fullscreen:        false
                                                
