

! ------------------------------------------------------------------------------
! URxvt standard archlabs theme
! ------------------------------------------------------------------------------

URxvt*perl-ext-common:		osc-xterm-clipboard,default,matcher
URxvt*url-launcher:         /usr/bin/xdg-open
URxvt*matcher.button:       1

! general settings
URxvt*saveline:         15000
URxvt*termName:         rxvt-256color
URxvt*iso14755:         false
! for this icon to load in panels and plank you need to follow the steps described here
! http://archlabs.prophpbb.com/post1220.html
URxvt*iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:            32
!URxvt*background:      rgba:0000/0000/0000/AAAA
!URxvt*background:      #404552
URxvt*background:       #131313
URxvt*foreground:       #FFFFFF
URxvt.underlineColor:   #4682B4
URxvt.highlightColor:   #4682B4
URxvt.throughColor:     Blue
URxvt*cursorColor:      #c5c8c6
URxvt*cursorColor2:     Black
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*internalBorder:   15
URxvt*externalBorder:   0
URxvt.colorIT:      	#87af5f
URxvt.colorBD:      	#c5c8c6
URxvt.colorUL:      	#87afd7

xterm*dynamicColors: true
urxvt*dynamicColors: on
*color0:    #393939
*color8:    #474747
*color1:    #f26157
*color9:    #ff8c85
*color2:    #f1a66a
*color10:   #ffc291
*color3:    #f7ee7f
*color11:   #fff9ab
*color4:    #8d6a9f
*color12:   #d0a5e6
*color5:    #55a3c2
*color13:   #70d6ff
*color6:    #1b998b
*color14:   #3dc4b5
*color7:    #dddddd
*color15:   #ece8c9

! fonts
URxvt*letterSpace: 	    	-2
!Xft.size:						8.1
URxvt*font:                 	xft:fira mono for powerline:bold:size=8
URxvt*imFont:               	xft:fira mono for powerline:bold:size=8
URxvt*boldFont:             	xft:fira mono for powerline:bold:size=8
URxvt*italicFont:           	xft:fira mono for powerline:bold:size=8
URxvt*boldItalicFont:     		xft:fira Mono for powerline:bold:size=8
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select
!URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.m-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      chromium
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt.geometry: 		90x30

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt*buffered:         false




                                                         
                                                           
